{% extends "base.html" %}
{% block title %}Roberto Rodríguez Márquez{% endblock %}
{% block content %}
<div class="posts">
    <h1>{{nombre}}</h1>
    <img src="{{imagen}}">
    
    <p>
        <ul>
            <li>Número de páginas: {{paginas}}</li>
            <li>Descripción: {{descripcion}}</li>
            <li>Autores: 
                <ul>
                    {% for autor in autores -%}
		        	    <li>{{autor}}</li>
		            {% endfor -%}
                </ul>
            </li>
            <li>Categorías: 
                <ul>
                    {% for categoria in categorias -%}
		        	    <li>{{categoria}}</li>
		            {% endfor -%}
                </ul>
            </li>
        </ul>
        <a href="../">Volver</a>
    </p>

</div>
{% endblock %}