{% extends "base.html" %}
{% block title %}Roberto Rodríguez Márquez{% endblock %}
{% block content %}
<div class="posts">
    <h1>{{nombre}}</h1>
    <img src="{{imagen}}">
    
    <p>
        <ul>
            <li>Autores: 
                <ul>
                    {% for autor in autores -%}
		        	    <li>{{autor}}</li>
		            {% endfor -%}
                </ul>
            </li>
            
            {% if publicado == "MEAP" %}
                <li> ESTE LIBRO NO SE HA PUBLICADO </li>
            {% else %}
                <li>Número de páginas: {{paginas}}</li>
                <li>Descripción: {{descripcion}}</li>
                <li>Categorías: 
                    <ul>
                        {% for categoria in categorias -%}
                            <li>{{categoria}}</li>
                        {% endfor -%}
                    </ul>
                </li>
            {% endif %}
        </ul>
        <a href="../">Volver</a>
    </p>

</div>
{% endblock %}